<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Bienvenido</h1>
      <p class="py-6">Explore las funciones y administre sus datos de manera eficiente con nuestra interfaz de panel intuitiva.</p>
      <div class="flex flex-row gap-4 justify-center">
        <a class="btn btn-primary" href="https://daisyui.com/docs/intro/" target="_blank" >Iniciar con DaisyUI</a>
        <a class="btn btn-primary" href="https://tailwindcss.com/docs/installation/using-postcss" target="_blank" >Iniciar con Tailwind</a>
        <a class="btn btn-primary" href="https://heroicons.com/" target="_blank" >Hero Icons</a>
      </div>
    </div>
  </div>
</div>
